{{- /* Détection environnement distant (Codespaces, SSH, conteneur, etc.) */ -}}
{{- $remote := or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}

{{- /* Choix machine : demandé une fois à l'init, stocké dans chezmoi.toml */ -}}
{{- $machine := promptChoiceOnce . "machine" "Quel PC ?" (list "perso" "pro") -}}
{{- $defaultEmail := "mohand_hamadouche@yahoo.com" -}}
{{- $signingKey := "~/.ssh/yubikey-piv-9a.pub" -}}
{{- if eq $machine "pro" -}}
{{-   $defaultEmail = "mohand.hamadouche.ext@orange.com" -}}
{{-   $signingKey = "~/.ssh/pki_sign.pub" -}}
{{- end -}}
{{- $email := promptStringOnce . "email" (printf "Email Git (%s)" $machine) $defaultEmail -}}
{{- $name := promptStringOnce . "name" "Nom Git" "Mohand HAMADOUCHE" -}}
{{- $signingKey = promptStringOnce . "signingKey" (printf "Git SSH signing key (%s)" $machine) $signingKey -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  remote = {{ $remote }}
  machine = {{ $machine | quote }}
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  gpgSign = true
  signingKey = {{ $signingKey | quote }}

{{- if not $remote }}
[git]
  autoCommit = true
  autoPush = true
{{- end }}
