{{- $remote := or (env "CODESPACES" | not | not) (env "SSH_CONNECTION" | not | not) (env "KUBERNETES_SERVICE_HOST" | not | not) (env "container" | not | not) (env "REMOTE_CONTAINERS" | not | not) (stat "/.dockerenv" | not | not) -}}

set -o vi

# edit PATH
if [[ -d $HOME/.local/bin ]]; then
  export PATH=$HOME/.local/bin:$PATH
fi

{{if not $remote -}}
# setup gpg-agent ssh
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
  export SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
fi

# fallback to ssh-agent when gpg-agent is not available
SSH_AGENT_CONF="$HOME/.ssh/agent"
if [ -e "$SSH_AGENT_CONF" ]; then
  . "$SSH_AGENT_CONF" > /dev/null
fi
ssh-add -l >/dev/null 2>&1
if [ $? -ne 0 ]; then
  ssh-agent > "$SSH_AGENT_CONF"
  if [ $? -ne 0 ]; then
    echo "ERROR: Could not launch ssh-agent" >&2
  fi
  . "$SSH_AGENT_CONF" > /dev/null
  ssh-add
fi
{{- end}}

if command -v mise >/dev/null; then
  eval "$(mise activate bash)"
fi

# (neo)vim
if command -v nvim > /dev/null ; then
  export EDITOR="nvim"
  export VISUAL="nvim"
elif command -v vim > /dev/null ; then
  export EDITOR="vim"
  export VISUAL="vim"
fi

# enable the starship prompt
if command -v starship >/dev/null; then
  eval "$(starship init bash)"
fi

# Load custom aliases if present
if [[ -f $HOME/.bash/aliases.bash ]]; then
  source $HOME/.bash/aliases.bash
fi

# Load git completion
if [[ -f $HOME/.bash/git-completion.bash ]]; then
  source $HOME/.bash/git-completion.bash
fi

# use bat instead of c
if command -v bat >/dev/null; then
  alias c="bat"
fi

# Bash completion (core)
if ! shopt -oq posix; then
  if [ -r /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -r /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi
